/* body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.footer .footer-bottom {
  padding: 20px 0 10px 0;
}
.dropdown-cart {
  display: inline;
} */
/* .col-md-7 .col-xs-12 .col-sm-12{
  position: relative !important;
  min-height: 1px !important;
  padding-right: 15px !important;
  padding-left: 15px !important;
} */
